.header {
	background-color: #c9c9c9;
	color: rgb(0, 0, 0);
	display: flex;
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.nav_list li {
	display: inline;
	flex-direction: column;
	padding: 10px;
}

.acc_ctrl {
	display: flex;
	justify-content: space-between;
	position: absolute;
	right: 20px;
	top: 40px;
}
